In [1]:
import numpy as np 
import pandas as pd

In [2]:
data = pd.read_csv('final_data.csv')
data.head()

C:\Users\hp\AppData\Local\Temp\ipykernel_26356\1028179819.py:1: DtypeWarning: Columns (0: start_time, 1: end_time, 2: start_station_name, 3: end_station_name, 4: user_type, 5: member_gender, 6: bike_share_for_all_trip, 7: age_group, 8: start_datetime, 9: end_datetime, 10: day_of_week, 11: weekend_flag, 12: time_of_day) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('final_data.csv')

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,...,weekend_flag,hour,time_of_day,user_type_encoded,member_gender_encoded,user_type_Customer,user_type_Subscriber,member_gender_Female,member_gender_Male,member_gender_Other
0,1585.0,54:18.5,20:44.1,7.0,Frank H Ogawa Plaza,37.804562,-122.271738,222.0,10th Ave at E 15th St,37.792714,...,True,0.0,Night,1.0,1.0,0.0,1.0,0.0,0.0,1.0
1,1793.0,49:58.6,19:51.8,93.0,4th St at Mission Bay Blvd S,37.770407,-122.391198,323.0,Broadway at Kearny,37.798014,...,True,0.0,Night,1.0,1.0,0.0,1.0,0.0,1.0,0.0
2,1147.0,55:35.1,14:42.6,300.0,Palm St at Willow St,37.317298,-121.884995,312.0,San Jose Diridon Station,37.329732,...,True,0.0,Night,1.0,0.0,0.0,1.0,1.0,0.0,0.0
3,1615.0,41:06.8,08:02.8,10.0,Washington St at Kearny St,37.795393,-122.404770,127.0,Valencia St at 21st St,37.756708,...,True,0.0,Night,1.0,1.0,0.0,1.0,0.0,1.0,0.0
4,1570.0,41:48.8,07:59.7,10.0,Washington St at Kearny St,37.795393,-122.404770,127.0,Valencia St at 21st St,37.756708,...,True,0.0,Night,1.0,2.0,1.0,0.0,0.0,1.0,0.0

In [3]:
data.isnull().sum()

duration_sec               8445
start_time                 8445
end_time                   8445
start_station_id           8445
start_station_name         8445
start_station_latitude     8445
start_station_longitude    8445
end_station_id             8445
end_station_name           8445
end_station_latitude       8445
end_station_longitude      8445
bike_id                    8445
user_type                  8445
member_birth_year          8445
member_gender              8445
bike_share_for_all_trip    8445
duration_min               8445
age                        8445
age_group                  8631
start_datetime             8445
end_datetime               8445
day_of_week                8445
weekend_flag               8445
hour                       8445
time_of_day                8445
user_type_encoded          8445
member_gender_encoded      8445
user_type_Customer         8445
user_type_Subscriber       8445
member_gender_Female       8445
member_gender_Male         8445
member_gender_Other        8445
dtype: int64

In [4]:
data.duplicated().sum()

np.int64(8439)

In [5]:
data=data.drop_duplicates()

In [6]:
data.duplicated().sum()

np.int64(0)

In [7]:
data.isnull().sum()

duration_sec                  6
start_time                    6
end_time                      6
start_station_id              6
start_station_name            6
start_station_latitude        6
start_station_longitude       6
end_station_id                6
end_station_name              6
end_station_latitude          6
end_station_longitude         6
bike_id                       6
user_type                     6
member_birth_year             6
member_gender                 6
bike_share_for_all_trip       6
duration_min                  6
age                           6
age_group                   192
start_datetime                6
end_datetime                  6
day_of_week                   6
weekend_flag                  6
hour                          6
time_of_day                   6
user_type_encoded             6
member_gender_encoded         6
user_type_Customer         8445
user_type_Subscriber       8445
member_gender_Female       8445
member_gender_Male         8445
member_gender_Other        8445
dtype: int64