In [2]:
import numpy as np 
import pandas as pd

In [3]:
data = pd.read_csv('final_data.csv')
data.head()

C:\Users\hp\AppData\Local\Temp\ipykernel_26520\1028179819.py:1: DtypeWarning: Columns (0: start_time, 1: end_time, 2: start_station_name, 3: end_station_name, 4: user_type, 5: member_gender, 6: bike_share_for_all_trip, 7: age_group, 8: start_datetime, 9: end_datetime, 10: day_of_week, 11: weekend_flag, 12: time_of_day) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('final_data.csv')

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,...,weekend_flag,hour,time_of_day,user_type_encoded,member_gender_encoded,user_type_Customer,user_type_Subscriber,member_gender_Female,member_gender_Male,member_gender_Other
0,1585.0,54:18.5,20:44.1,7.0,Frank H Ogawa Plaza,37.804562,-122.271738,222.0,10th Ave at E 15th St,37.792714,...,True,0.0,Night,1.0,1.0,0.0,1.0,0.0,0.0,1.0
1,1793.0,49:58.6,19:51.8,93.0,4th St at Mission Bay Blvd S,37.770407,-122.391198,323.0,Broadway at Kearny,37.798014,...,True,0.0,Night,1.0,1.0,0.0,1.0,0.0,1.0,0.0
2,1147.0,55:35.1,14:42.6,300.0,Palm St at Willow St,37.317298,-121.884995,312.0,San Jose Diridon Station,37.329732,...,True,0.0,Night,1.0,0.0,0.0,1.0,1.0,0.0,0.0
3,1615.0,41:06.8,08:02.8,10.0,Washington St at Kearny St,37.795393,-122.404770,127.0,Valencia St at 21st St,37.756708,...,True,0.0,Night,1.0,1.0,0.0,1.0,0.0,1.0,0.0
4,1570.0,41:48.8,07:59.7,10.0,Washington St at Kearny St,37.795393,-122.404770,127.0,Valencia St at 21st St,37.756708,...,True,0.0,Night,1.0,2.0,1.0,0.0,0.0,1.0,0.0

In [4]:
data.info()

<class 'pandas.DataFrame'>
RangeIndex: 182864 entries, 0 to 182863
Data columns (total 32 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   duration_sec             174419 non-null  float64
 1   start_time               174419 non-null  str
 2   end_time                 174419 non-null  str
 3   start_station_id         174419 non-null  float64
 4   start_station_name       174419 non-null  str
 5   start_station_latitude   174419 non-null  float64
 6   start_station_longitude  174419 non-null  float64
 7   end_station_id           174419 non-null  float64
 8   end_station_name         174419 non-null  str
 9   end_station_latitude     174419 non-null  float64
 10  end_station_longitude    174419 non-null  float64
 11  bike_id                  174419 non-null  float64
 12  user_type                174419 non-null  str
 13  member_birth_year        174419 non-null  float64
 14  member_gender            174419 non-null  str
 15  bike_share_for_all_trip  174419 non-null  object
 16  duration_min             174419 non-null  float64
 17  age                      174419 non-null  float64
 18  age_group                174233 non-null  str
 19  start_datetime           174419 non-null  str
 20  end_datetime             174419 non-null  str
 21  day_of_week              174419 non-null  str
 22  weekend_flag             174419 non-null  object
 23  hour                     174419 non-null  float64
 24  time_of_day              174419 non-null  str
 25  user_type_encoded        174419 non-null  float64
 26  member_gender_encoded    174419 non-null  float64
 27  user_type_Customer       174419 non-null  float64
 28  user_type_Subscriber     174419 non-null  float64
 29  member_gender_Female     174419 non-null  float64
 30  member_gender_Male       174419 non-null  float64
 31  member_gender_Other      174419 non-null  float64
dtypes: float64(19), object(2), str(11)
memory usage: 44.6+ MB

In [3]:
data.isnull().sum()

duration_sec               8445
start_time                 8445
end_time                   8445
start_station_id           8445
start_station_name         8445
start_station_latitude     8445
start_station_longitude    8445
end_station_id             8445
end_station_name           8445
end_station_latitude       8445
end_station_longitude      8445
bike_id                    8445
user_type                  8445
member_birth_year          8445
member_gender              8445
bike_share_for_all_trip    8445
duration_min               8445
age                        8445
age_group                  8631
start_datetime             8445
end_datetime               8445
day_of_week                8445
weekend_flag               8445
hour                       8445
time_of_day                8445
user_type_encoded          8445
member_gender_encoded      8445
user_type_Customer         8445
user_type_Subscriber       8445
member_gender_Female       8445
member_gender_Male         8445
member_gender_Other        8445
dtype: int64

In [4]:
data.duplicated().sum()

np.int64(8439)

In [5]:
data=data.drop_duplicates()

In [6]:
data.duplicated().sum()

np.int64(0)

In [7]:
data.isnull().sum()

duration_sec                  6
start_time                    6
end_time                      6
start_station_id              6
start_station_name            6
start_station_latitude        6
start_station_longitude       6
end_station_id                6
end_station_name              6
end_station_latitude          6
end_station_longitude         6
bike_id                       6
user_type                     6
member_birth_year             6
member_gender                 6
bike_share_for_all_trip       6
duration_min                  6
age                           6
age_group                   192
start_datetime                6
end_datetime                  6
day_of_week                   6
weekend_flag                  6
hour                          6
time_of_day                   6
user_type_encoded             6
member_gender_encoded         6
user_type_Customer         8445
user_type_Subscriber       8445
member_gender_Female       8445
member_gender_Male         8445
member_gender_Other        8445
dtype: int64

In [6]:
# date_range, user type, gender, age group
#date_range =data['']
user_type =data['user_type'].unique()
gender =data['member_gender'].unique()
age_group=data['age_group'].unique()

In [ ]:
user_type
gender
age_group

<StringArray>
['50-60', '60+', '40-50', '30-40', '18-30', nan]
Length: 6, dtype: str

In [7]:
age_classification = {
    '18-30': 'Young Adult',
    '30-40': 'Adult',
    '40-50': 'Middle-aged',
    '50-60': 'Older Adult',
    '60+'  : 'Senior'
}
age_class_for_display = data['age_group'].map(age_classification)